@import "../../styles/theme";
@import "../../styles/variables";

.header {
    height: $header-height;
    width: 100%;
    min-width: $resMin;
    padding: 0 32px 0 6px;
    z-index: 1000;
    position: fixed;

    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.5);
    background-color: $sidebar;

    .title {
        width: 100%;
        line-height: $header-height;
        height: $header-height;
        padding: 0;
        overflow: hidden;

        color: $sidebar-text;
        font-family: $font-family;
        background-color: $sidebar;
    }
}